@using StudentsEmployment.BLL.Models.Report
@using StudentsEmployment.DAL.Entities

@model DistributionReport

@section styles {
  <style type="text/css">
    TABLE {
      border-collapse: collapse;
    }
    TD, TH {
      padding: 7px;
      border: 1px solid black;
    }
    .main {
      padding: 0;
      margin: 0;
      font-size: 1.2em;
    }
    .margin-bottom {
      margin-bottom: 10px;
    }
    .table {
      display: table;
    }
    .cell {
      display: table-cell;
    }
    .stretch  {
      width: 100%;
    }
    .center {
      text-align: center;
    }
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
    .row-item {
      display: inline-block;
    }
    .border {
      border: 1px solid black;
    }
    .margin-row-item {
      margin-right: 100px;
    }
  </style>
}

<div class='main'>
  <div class='center margin-bottom'>ФГБОУ ВО "Бурятский государственный университет имени Доржи Банзарова"</div>
  <div class='right'>код протокола: 1</div>
  <div class='center margin-bottom'>Протокол распределения выпускников № @Model.Header?.Id</div>
  <div class='center margin-bottom'>@Model.Header?.Faculty, специальность/направление: @Model.Header?.Speciality</div>
  <div class='center margin-bottom'>Образовательная программа: @Model.Header?.Specialization</div>
  @if (@Model.Header?.GroupName != null)
  {
    <div class='center margin-bottom'>Группа: @Model.Header?.GroupName</div>
  }
  <div class='table stretch margin-bottom'>
    <div class='cell'>
      <div class='stretch center'>
        <div class='row-item left margin-row-item'>
          <div class='margin-bottom'>Год приема: @Model.Header?.EntranceYear</div>
          <div>Форма обучения: @Model.Header?.EduForm</div>
        </div>
        <div class='row-item left margin-row-item'>
          @if (@Model.Header?.LastYear != null)
          {
            <div class='margin-bottom'>Год выпуска: @Model.Header?.LastYear</div>
          }
          <div>Дата: @Model.Header?.DocDate</div>
        </div>
      </div>
    </div>
  </div>
  @if (Model.Distributions?.Count() > 0) {
    <br/>
    <table class='margin-bottom'>
      <caption></caption>
      <tr>
        <th>№</th>
        <th>ФИО</th>
        <th>Адрес регистрации</th>
        <th>Финансирование</th>
        <th>Способ поступления</th>
        <th>Телефон</th>
        <th>Вид распределения</th>
        <th>Куда направлен - организация</th>
        <th>Подпись</th>
      </tr>
      @foreach(Distribution d in Model.Distributions) {
        <tr>
          <td>@d.Number</td>
          <td>@d.Fio</td>
          <td>@d.Registration</td>
          <td>@d.Finance</td>
          <td>@d.EntrType</td>
          <td>@d.Phone</td>
          <td>@d.PgType</td>
          <td>@d.Organization</td>
          <td></td>
        </tr>
      }
    </table>
  }
  <br/><br/>
  <div class='stretch center'>
    @Model.Header?.HeaderPost __________________ @Model.Header?.HeaderName
  </div>
</div>
